<div [ngClass]="temaActual">
<ion-header>
    <ion-toolbar>
      <ion-title>
        <strong>{{"Ingresar"}}</strong>
      </ion-title>
    </ion-toolbar>
</ion-header>
</div>

<ion-content [ngClass]="temaActual">

    <div class="d-flex center" [ngClass]="temaActual">

        <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
            <app-logo></app-logo>
            
            <!-- Correo -->
            <app-custom-input autocomplete="email" 
            icon="mail-outline"
            [control]="form.controls.email"
            type="email"
            label="Correo"
            class="email"
            ></app-custom-input>
    
            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
                <div *ngIf="form.controls.email.errors?.['required']">Este campo es obligatorio</div>
                <div *ngIf="form.controls.email.errors?.['email']">Correo no válido</div>
            </div>

            <!-- Clave -->
            <app-custom-input 
            [control]="form.controls.password"
            icon="lock-closed-outline"
            type="password"
            label="Contraseña"
            ></app-custom-input>

            <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
                <div *ngIf="form.controls.email.errors?.['required']">Este campo es obligatorio</div>
            </div>

            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
                INGRESAR
                <img class="submit-img" *ngIf="temaActual === 'tema-argentina'" src="assets/argentina/mate.png" alt="" slot="end">
                <img class="submit-img" *ngIf="temaActual === 'tema-profesional'" src="assets/profesional/ink-pen.png" alt="" slot="end">
                <img class="submit-img" *ngIf="temaActual === 'tema-naif'" src="assets/naif/paint-brush.png" alt="" slot="end">
                <img class="submit-img" *ngIf="temaActual === 'tema-festivo'" src="assets/custom/christmas-tree.png" alt="" slot="end">
                <ion-icon *ngIf="temaActual !== 'tema-argentina'
                            && temaActual !== 'tema-profesional'
                            && temaActual !== 'tema-naif'
                            && temaActual !== 'tema-festivo'" 
                            slot="end" name="log-in-outline"></ion-icon>
            </ion-button>

            <br>
            <div class="user-buttons-container">
                <ion-button class="user-button button1" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[0])">ADMIN</ion-button>
                <ion-button class="user-button button2" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[1])">
                    <span class="texto-btn">INVITADO</span>
                </ion-button>
                <ion-button class="user-button button3" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[2])">USUARIO</ion-button>
                <ion-button class="user-button button4" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[3])">ANÓNIMO</ion-button>
                <ion-button class="user-button button5" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[4])">TESTER</ion-button>
                <ion-button class="user-button button6" expand="block" shape="square" (click)="autocompletarUsuario(usuariosRegistrados[5])">PRUEBA</ion-button>
            </div>
        </form>

    </div>

    <div [ngClass]="temaActual" *ngIf="temaActual === 'tema-festivo'" class="animacion" aria-hidden="true">
        <div class="anim-img"><img src="/assets/custom/snowflake.png" height="25px" width="25px"></div>
        <div class="anim-img"><img src="/assets/custom/candy-cane.png" height="25px" width="25px"></div>
        <div class="anim-img"><img src="/assets/custom/snowflake.png" height="25px" width="25px"></div>
        <div class="anim-img"><img src="/assets/custom/candy-cane.png" height="25px" width="25px"></div>
        <div class="anim-img"><img src="/assets/custom/snowflake.png" height="25px" width="25px"></div>
        <div class="anim-img"><img src="/assets/custom/candy-cane.png" height="25px" width="25px"></div>
    </div>
</ion-content>
