ion-fab[vertical="top"][horizontal="end"] {
  top: 25px; 
}

ion-fab-button{
    --background: transparent;
    height: 60px;
    width: 60px;

    --border-radius: 4px;
    --box-shadow: none;
    box-shadow: none !important;
  }

  .fab-icon {
    padding: 2px 1px;
    border-radius: 4px;

    width: 40px;
    height: 40px;
    object-fit: cover;
  }